@model MResults

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/Movie.css">
    <title>Movie Recommendation</title>
</head>
<body>
    <main>
        <table>
            <tr>
                <th>Title</th>
                <td>@Model.title</td>
            </tr>
            <tr>
                <th>Poster</th>
                <td>
                    @if (@Model.poster_Path == null)
                    {
                        <p>Nothing grabbed.</p>
                    }
                    else
                    {
                        <img src="https://image.tmdb.org/t/p/original/@Model.poster_Path" alt="Movie Poster" />
                    }
                </td>
            </tr>
            <tr>
                <th>Popularity</th>
                <td>@Model.popularity.ToString()</td>
            </tr>
            <tr>
                <th>Overview</th>
                <td>@Model.overview</td>
            </tr>
            <tr>
                <th>Genres</th>
                <td>
                    <ul>
                     @*   @for (int i = 0; i < @Model.Genres.Count(); i++)
                        {
                            <li>@Model.Genres[i]</li>
                        }*@
                    </ul>
                </td>
            </tr>
        </table>
    </main>
</body>
</html>