@model Movie
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="">
    <title>Movie Recommendation</title>
</head>
<body>
    <main>
        <p>@Model.Title</p>
                @if (@Model.Poster_Path == null)
        {
            
            <p>Nothing Grabbed.</p>
        }
        <img width="300" height="400" src="https://image.tmdb.org/t/p/original/@Model.Poster_Path" />
        <p>@Model.Runtime Minutes</p>
        <p>@Model.Overview</p>
        @for (int i = 0; i < @Model.Genres.Count(); i++)
        {
          <p>@Model.Genres[i]</p>
        }
    </main>
</body>
</html>