@model Movie
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="">
    <title>Movie Recommendation</title>
</head>
<body>
    <main>
        <p>@Model.Title</p>
        <p>@Model.Runtime Minutes</p>
        <p>@Model.Overview</p>
        <p>@Model.Revenue</p>
        <p>@Model.VoteAverage</p>
        <p>@Model.SimilarMovies</p>
        
        @if (@Model.Images == null)
        {
            <p>Nothing Grabbed.</p>
        }
        <img src="@Model.Images" />
    </main>
</body>
</html>